<!-- partial view that renders the right panel feedback display -->
<fieldset>

    <legend>
        <div class="row">
            <div class="col-sm-12">
                <i class="fa fa-star-half-o icon-padding"></i><span class="metrics-header">REVIEWS ({{ vm.getFeedbackArray().length }})</span>
            </div>
        </div>
    </legend>

    <div ng-if="!vm.userDeliverableFeedback.id && vm.deliverableRecord.userCanReview()" class="panel panel-default">

        <div class="panel-heading">Your Review</div>
        <div class="panel-body">

            <label>Is this deliverable acceptable?</label>
            <div class="btn-group btn-group-justified" id="acceptable">
                <a href ng-click="vm.provideFeedback(true)" class="btn btn-success"
                   ng-class="{ 'active': vm.userDeliverableFeedback.acceptable === true }">
                    <i class="fa fa-thumbs-up"></i> Yes
                </a>
                <a href ng-click="vm.provideFeedback(false)" class="btn btn-danger"
                   ng-class="{ 'active': vm.userDeliverableFeedback.acceptable === false }">
                    <i class="fa fa-thumbs-down"></i> No
                </a>
            </div>

        </div>
    </div>

    <div ng-if="vm.getFeedbackArray().length > 0" class="panel panel-default">
        <div class="panel-heading">Customer Reviews</div>
        <li class="list-group-item"
            ng-repeat="feedback in vm.getFeedbackArray() track by feedback.id">
            <reviews data-feedback="feedback"></reviews>
        </li>
    </div>

    <div ng-if="vm.getFeedbackArray().length === 0">
        <hr class="hr-sm">
        <div class="help-block">No feedback available for the current deliverable.</div>
    </div>

</fieldset>
