
<div class="navbar navbar-inverse navbar-default" role="navigation" ng-controller="navbarCtrl">
   <div class="navbar-inner">
        <a class="brand pull-left">
           <img src="images/usmc_40-inverse.png" alt="Logo"/>
           <span class="title">ESED Deliverables</span>
        </a>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{{getClass(nav)}}" ng-repeat="nav in navLocations">
                    <a href="{{nav.link}}"><i class="fa {{nav.iconClass}}"></i> {{nav.label}}</a>
                </li>

            </ul>
            <ul title="Add a new deliverable." class="nav navbar-nav pull-right">
                <li>
                    <a href="#" title="Add a new deliverable." ng-click="openDeliverablesForm()">
                        <i class="fa fa-plus"></i>
                    </a>
                </li>
            </ul>
        </div>
   </div>
</div>
