<!-- wrapper for edit form view -->
<div class="container-fluid">
    <div ng-form="form">

        <div class="col-lg-8 col-md-9 col-sm-10 col-xs-12">
            <fieldset ng-disabled="vm.negotiatingWithServer">
                <legend>
                    <div class="row">
                        <div class="col-sm-12"><i class="fa fa-check-square icon-padding"></i>EDIT DELIVERABLE</div>
                    </div>
                </legend>

                <!-- Only display save and delete options when the primary tab is visible -->
                <div class="pull-right">

                    <button type="submit" ng-show="vm.activeTab === 'main'"
                            ng-click="vm.save()"
                            class="btn btn-primary"><i class="fa fa-save"></i> Save</button>

                    <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
                    <button type="button" ng-show="vm.activeTab === 'main'" class="btn btn-default" ng-click="vm.deleteRecord()"><i class="fa fa-trash"></i> Delete</button>
                </div>


                <!-- NAV TABS ['main', 'discussion'] -->
                <ul class="nav nav-tabs">
                    <li class="off-white-active" ng-class="{active: vm.activeTab == 'main'}">
                        <a ng-click="vm.activeTab = 'main'"> Main </a>
                    </li>
                    <li class="off-white-active" ng-class="{active: vm.activeTab === 'discussion'}">
                        <a ng-click="vm.activeTab = 'discussion'"> Discussion <span class="badge">{{ vm.discussionBadgeValue() }}</span> </a>
                    </li>
                    <li class="off-white-active" ng-class="{active: vm.activeTab === 'history'}">
                        <a ng-click="vm.activeTab = 'history'"> History <span class="badge">{{ vm.version }}</span> </a>
                    </li>
                </ul>


                <!-- include tab content -->
                <div class="tab-content well well-light" style="border-top:none">
                    <div ng-switch="vm.activeTab">

                        <!-- MAIN FORM TAB -->
                        <div ng-switch-default>

                            <form ng-submit="vm.onSubmit()" novalidate>

                                <!-- SHARED FORM FIELD TEMPLATE -->
                                <div ng-include="'modules/deliverable_forms/deliverableFormTemplate.html'"></div>



                            </form>


                            <!-- TO RECIPIENTS -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="to" class="deliverables-header">To</label>

                                        <div ng-if="vm.dataReady">
                                            <ui-select id="to" ng-model="vm.deliverableRecord.to" multiple data-reset-search-input="true">
                                                <ui-select-match placeholder="Select TO Recipient">{{$item.lookupValue }}
                                                </ui-select-match>
                                                <ui-select-choices
                                                    repeat="person in vm.personnelArray | filter: $select.search track by person.lookupId">
                                                    <div ng-bind-html="person.lookupValue | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>

                                <!-- CC RECIPIENTS -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="cc" class="deliverables-header">CC</label>

                                        <div ng-if="vm.dataReady">
                                            <ui-select id="cc" ng-model="vm.deliverableRecord.cc" multiple data-reset-search-input="true">
                                                <ui-select-match placeholder="Select CC Recipient">{{$item.lookupValue }}
                                                </ui-select-match>
                                                <ui-select-choices
                                                    repeat="person in vm.personnelArray | filter: $select.search track by person.lookupId">
                                                    <div ng-bind-html="person.lookupValue | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 text-right">

                                        <button type="submit"
                                                ng-click="vm.submit()"
                                                ng-show="vm.activeTab === 'main' && !vm.deliverableRecord.stakeholderNotificationDate && vm.deliverableRecord.userCanContribute()"
                                                class="btn btn-primary"><i class="fa fa-envelope-o"></i> Submit & Notify</button>
                                        <span ng-show="vm.deliverableRecord.stakeholderNotificationDate" class="help-block">* Stakeholder notification sent {{vm.deliverableRecord.stakeholderNotificationDate | date:'short'}}</span>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--DISCUSSION THREAD -->
                        <div ng-switch-when="discussion">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div ap-discussion-thread
                                         data-field-name="'discussionThread'"
                                         data-list-item="vm.deliverableRecord"></div>
                                </div>
                            </div>

                        </div>

                        <!-- HISTORY -->
                        <div ng-switch-when="history">
                            <list-item-history
                                data-list-item="vm.deliverableRecord"
                                data-template="'modules/deliverable_forms/deliverableFormTemplate.html'"></list-item-history>

                        </div>

                    </div>
                </div>
            </fieldset>

        </div>

        <!-- USER FEEDBACK COLUMN -->
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs">
            <div ng-include="'modules/deliverable_feedback/deliverableFeedbackView.html'"></div>
        </div>
    </div>
</div>
