<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">

            <div class="row deliverables-paged">
                <div class="col-sm-9"><i class="fa fa-calendar icon-padding"></i>ACTIVE DELIVERABLES</div>
                <div class="col-sm-3">
                    <div class="btn-group">
                        <button class="btn btn-light pull-left" type="button" ng-click="decreaseDate()">
                            <i class="fa fa-arrow-left"></i>
                        </button>
                        <button class="pull-left btn btn-white bold" style="width: 75px" disabled>{{ displayPeriod }}</button>
                        <button class="btn btn-light pull-left" type="button" ng-click="increaseDate()">
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>

            <hr/>

            <!-- Animate once we have data -->
            <div ng-if="gotData">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Submitted</th>
                        <th>Due</th>
                        <th>Schedule</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in deliverablesByMonth track by item.id">
                        <td><a ui-sref="deliverable({id:item.id})">{{ item.title }}</a>
                        </td>
                        <td>{{ item.submissionDate | date:'shortDate' }}</td>
                        <td>{{ item.startDate | date:'shortDate' }}</td>
                        <td>{{ deliverableFrequencyFilter( item.deliverableType ) }}</td>
                        <td>
                            <div ratings-directive data-deliverable="item" data-feedback="groupedFeedbackParams[item.id]">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <hr/>
                <hr/>

                <div class="row deliverables-paged">
                    <div class="col-sm-12"><i class="fa fa-calendar icon-padding"></i>PENDING DELIVERABLES</div>
                </div>

                <hr/>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Reference Number</th>
                        <th>Title</th>
                        <th>Schedule</th>
                        <th>Add</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="fadeIn" ng-repeat="item in deliverableDefinitionsByMonth">
                        <td><a ui-sref="deliverables.instances({fy:fiscalYear,id:item.id})">{{ item.deliverableNumber }}</a></td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.frequency.lookupValue }}</td>
                        <td>
                            <a ui-sref="newInstance({fy:fiscalYear,deliverableTypeId:item.id})"><i class="fa fa-plus"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row text-center metrics-header">
                        <i class="fa fa-check-square icon-padding"></i>METRICS
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div google-chart chart="Gauge1"
                         style="width: 200px; height: 200px; display: inline-block; vertical-align: top; position: relative;"></div>
                    <div google-chart chart="Gauge2"
                         style="width: 200px; height: 200px; display: inline-block; vertical-align: top; position: relative;"></div>
                    <div google-chart chart="Gauge3"
                         style="width: 200px; height: 200px; display: inline-block; vertical-align: top; position: relative;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

