<!-- partial view that renders the right panel feedback display -->
<div class="col-sm-2">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <i class="fa fa-check-square icon-padding"></i><span class="metrics-header">REVIEWS</span>
                <a ng-show="vm.gotData" ng-click="vm.toggleRightPanel()" class="return-icon-padding"
                   title="View Metrics">
                    Metrics <i class="fa fa-arrow-down"></i>
                </a>

            </div>
        </div>
    </div>
    <hr/>
    <div ng-repeat="feedback in vm.deliverableFeedback track by feedback.id">
        <div class="row">
            <div class="col-sm-12">
                <reviews data-feedback="feedback"></reviews>
            </div>
        </div>
    </div>
</div>
<hr/>
