<fieldset>
    <div class="container-fluid">
        <legend>
            <div  class="row deliverables-paged">
                <div class="col-sm-12"><i class="fa fa-check-square icon-padding"></i>CREATE A NEW DELIVERABLE</div>
            </div>
        </legend>
        <hr/>
        <form name="editDeliverable" ng-submit="save()">
            <div ng-include="'modules/deliverables/views/deliverableFormTemplate.html'"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="to" class="deliverables-header">To</label>
                        <div ng-if="state.dataReady">
                            <ui-select ng-model="deliverableRecord.to" multiple>
                                <ui-select-match placeholder="Select TO Recipient">{{$item.lookupValue }}</ui-select-match>
                                <ui-select-choices
                                    repeat="person in personnelArray | filter: $select.search track by person.lookupId">
                                    <div ng-bind-html="person.lookupValue | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">

                        <label for="cc" class="deliverables-header">CC</label>
                        <div ng-if="state.dataReady">
                            <ui-select ng-model="deliverableRecord.cc" multiple>
                                <ui-select-match placeholder="Select CC Recipient">{{$item.lookupValue }}</ui-select-match>
                                <ui-select-choices
                                    repeat="person in personnelArray | filter: $select.search track by person.lookupId">
                                    <div ng-bind-html="person.lookupValue | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="pull-right">
                            <div class="content-group">
                                <button class="btn btn-primary" type="submit">Save and Add Attachments</button>
                                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                            <span>*Denotes required field</span>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>
