<!-- renders deliverable types display -->
<div class="container-fluid">
    <div class="row deliverables-paged">
        <div class="col-sm-8"><i class="fa fa-check-square icon-padding"></i>DELIVERABLE TYPES</div>
        <div class="col-sm-4">
            <input type="text" ng-model="vm.state.searchString" placeholder=" Enter Search Term"><i
            class="fa fa-search search-padding"></i>
        </div>
    </div>
    <hr/>
    <!-- Animate once we have data -->
    <div ng-if="vm.state.validChartData">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Reference Number</th>
                <th>Title</th>
                <th>Schedule</th>
                <th>Count</th>
                <th>New</th>
            </tr>
            </thead>
            <tbody>
            <tr class="deliverables-data" ng-repeat="item in vm.deliverableDefinitions | filter:vm.state.searchString">
                <td>
                    <a ui-sref="deliverables.instances({ fy:vm.fiscalYear, id:item.id })">{{ item.deliverableNumber
                        }}</a>
                </td>
                <td>{{ item.title }}</td>
                <td>{{ item.frequency.lookupValue }}</td>
                <td>
                    <a ui-sref="deliverables.instances({ fy:vm.fiscalYear, id:item.id })"><span
                        class="badge badge-info">{{ vm.deliverableCountByDefinition[item.id] || 0 }}</span></a>
                </td>
                <td>
                    <a ui-sref="newInstance({ fy:vm.fiscalYear, deliverableTypeId:item.id })"><i class="fa fa-plus"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

