// partial view that renders the right panel metrics display
<div class="col-sm-2">
    <div class="row">
        <div class="col-sm-12">
            <div class="row text-center metrics-header">
                <i class="fa fa-check-square icon-padding"></i>METRICS
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-12 text-center">
            <div google-chart chart="Gauge1"
                 style="width: 200px; height: 200px; display: inline-block; vertical-align: top; position: relative;"></div>
            <div google-chart chart="Gauge2"
                 style="width: 200px; height: 200px; display: inline-block; vertical-align: top; position: relative;"></div>
        </div>
    </div>
</div>
