<!-- renders view of deliverables by type -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <div class="row deliverables-paged">
                <div class="col-sm-7"><i class="fa fa-check-square icon-padding"></i>DELIVERABLES</div>
                <div class="col-sm-5" ng-if="vm.fyDefinitions">
                    <select
                        ng-model="vm.selectedDefinition"
                        ng-change="vm.getUpdateState()"
                        class="form-control"
                        data-ng-options="vm.dropdownLabel(deliverableDefinition) for deliverableDefinition in vm.fyDefinitions | toArray | orderBy: 'title' track by deliverableDefinition.id">
                    </select>
                </div>
            </div>

            <hr/>

            <div ng-if="vm.selectedDefinition">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Submitted</th>
                        <th>Due</th>
                        <th>Schedule</th>
                        <th>Average Rating</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="deliverableInstance in vm.deliverableInstances track by deliverableInstance.id">
                        <td>
                            <a ui-sref="deliverable({id:deliverableInstance.id})">{{ deliverableInstance.title }}</a>
                        </td>
                        <td>{{ deliverableInstance.submissionDate | date:'shortDate' }}</td>
                        <td>{{ deliverableInstance.startDate | date:'shortDate' }}</td>
                        <td>{{ vm.deliverableFrequency }}</td>
                        <td>
                            <a ng-click="vm.getDeliverableFeedback( deliverableInstance.id )" class="rating-data" title="View Details">
                                <ratings-average data-deliverable="deliverableInstance"></ratings-average>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Display message when a valid definition isn't found -->
            <div ng-if="!vm.selectedDefinition" class="alert alert-info">No matching definitions were found.</div>
        </div>

        <!-- view toggles between metrics and feedback -->
        <div ng-include="vm.rightPanelView"></div>
    </div>
</div>

