<!-- home page view -->
<div class="navbar navbar-default hidden-print">
    <div class="container-fluid">

        <div class="navbar-left">
            <p class="navbar-text h4"><i class="fa fa-calendar icon-padding"></i>MONTHLY SNAPSHOT</p>
        </div>

        <!--=========== Fiscal Month Toggle Control ===================-->
        <form class="navbar-form navbar-right">
            <div class="btn-group">

                <button class="btn btn-default pull-left" type="button" ng-click="vm.decreaseDate()">
                    <i class="fa fa-arrow-left"></i>
                </button>

                <span class="pull-left time-indicator text-muted">{{ vm.displayPeriod }}</span>

                <button class="btn btn-default pull-left" type="button" ng-click="vm.increaseDate()">
                    <i class="fa fa-arrow-right"></i>
                </button>

            </div>
        </form>

        <!--=========== Filter ===================-->
        <div class="navbar-form navbar-right">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Filter" ng-model="vm.searchString">
            </div>
        </div>

    </div>
</div>

<div class="container">



    <div class="row">
        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-calendar icon-padding"></i>ACTIVE DELIVERABLES</div>

                <!-- SUBMITTED DELIVERABLES FOR THE MONTH -->
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Submitted</th>
                        <th>Due</th>
                        <th>Schedule</th>
                        <th>Average Rating</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="deliverable in vm.deliverablesByMonth | filter:vm.searchString track by deliverable.id">
                        <td>
                            <a ui-sref="deliverable({id:deliverable.id})" title="Click to view all deliverables of this type.">{{ deliverable.title }}</a>
                        </td>
                        <td>{{ deliverable.submissionDate | date:'shortDate' }}</td>
                        <td>{{ deliverable.startDate | date:'shortDate' }}</td>
                        <td>{{ vm.deliverableFrequencyFilter( deliverable ) }}</td>
                        <td>
                            <a ng-click="vm.getDeliverableFeedback( deliverable )" class="rating-data" title="View Details">
                                <ratings-average data-deliverable="deliverable"></ratings-average>
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="vm.deliverablesByMonth && vm.deliverablesByMonth.length < 1">
                        <td colspan="5" class="alert">No deliverables were found for the selected month.</td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-calendar icon-padding"></i>PENDING DELIVERABLES</div>

                <!-- PENDING DELIVERABLES FOR THE MONTH -->
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Reference Number</th>
                        <th>Title</th>
                        <th>Schedule</th>
                        <th>Add</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="definition in vm.deliverableDefinitionsByMonth | toArray | filter:vm.customArrayFilter | filter:vm.searchString track by definition.id">
                        <td>
                            <a ui-sref="deliverables.instances({fy:vm.fiscalYear, id:definition.id})">
                                {{ definition.deliverableNumber }}
                            </a>
                        </td>
                        <td>{{ definition.title }}</td>
                        <td>{{ definition.frequency.lookupValue }}</td>
                        <td>
                            <a ui-sref="newInstance({ fy:vm.fiscalYear, deliverableTypeId:definition.id })" title="Add a new {{definition.title}} deliverable.">
                                <i class="fa fa-plus"></i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="vm.deliverableDefinitionsByMonth && vm.deliverableDefinitionsByMonth.length < 1">
                        <td colspan="5" class="alert">There are no outstanding deliverables remaining.</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <!-- view toggles between metrics and feedback -->
        <div ng-include="vm.rightPanelView"></div>


    </div>
</div>

