<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Deliverable Stakeholder Edit Form</h3>
</div>
<div class="modal-body">

    <!-- TO RECIPIENTS -->
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="to" class="deliverables-header">To</label>

                <div ng-if="vm.personnelArray">
                    <ui-select ng-model="vm.deliverableDefinition.to" multiple>
                        <ui-select-match placeholder="Select TO Recipient">{{$item.lookupValue }}
                        </ui-select-match>
                        <ui-select-choices
                            repeat="person in vm.personnelArray | filter: $select.search track by person.lookupId">
                            <div ng-bind-html="person.lookupValue | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <!-- CC RECIPIENTS -->
        <div class="col-sm-6">
            <div class="form-group">
                <label for="cc" class="deliverables-header">CC</label>

                <div ng-if="vm.personnelArray">
                    <ui-select ng-model="vm.deliverableDefinition.cc" multiple>
                        <ui-select-match placeholder="Select CC Recipient">{{$item.lookupValue }}
                        </ui-select-match>
                        <ui-select-choices
                            repeat="person in vm.personnelArray | filter: $select.search track by person.lookupId">
                            <div ng-bind-html="person.lookupValue | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.saveEntity()">Save</button>
    <button class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
</div>
