<div class="col-sm-2">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <i class="fa fa-check-square icon-padding"></i><span class="metrics-header">REVIEWS</span>
                <a ng-click="toggleRightPanel()" class="return-icon-padding" title="View Metrics">
                    Metrics <i class="fa fa-arrow-down"></i>
                </a>

            </div>
        </div>
    </div>
    <hr/>
    <div ng-repeat="feedback in deliverableFeedback track by feedback.id">
        <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
        <!--<reviews data-feedback="feedback"></reviews>-->
        <!--</div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-sm-12">
                <rating
                    ng-class="{'one-star': feedback.rating===1 || feedback.rating===1.5,'two-star': feedback.rating===2 || feedback.rating===2.5, 'three-star': feedback.rating===3 || feedback.rating===3.5, 'four-star': feedback.rating===4 || feedback.rating===4.5,'five-star': feedback.rating===5}"
                    ng-model="feedback.rating" max="5" readonly="true"></rating>
                <div class="left-padding">
                    <div class="row">
                        <span class="deliverables-data">{{feedback.created | date:'shortDate' }}</span>
                    </div>
                    <div class="row">
                        <span ng-if="feedback.author.lookupValue.length">{{feedback.author.lookupValue}}:</span>
                    </div>
                    <div class="row">
                        <span>{{feedback.comments}}</span>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    </div>
</div>
<hr/>
