<div class="container-fluid">
    <div class="row deliverables-paged">
        <div class="col-sm-1"><i class="fa fa-check-square"></i></div>
        <div class="col-sm-7">DELIVERABLE TYPES</div>
        <div class="col-sm-4">
            <input type="text" class="" ng-model="state.searchString"><i class="fa fa-search search-padding"></i>
        </div>
    </div>
    <hr/>
    <div ng-if="state.validChartData">

        <div class="row deliverables-header">
            <div class="col-sm-3">Reference Number</div>
            <div class="col-sm-3">Title</div>
            <div class="col-sm-2">Frequency</div>
            <div class="col-sm-2">Count</div>
            <div class="col-sm-2">New</div>
        </div>
        <div class="deliverables-data" ng-repeat="item in deliverableDefinitions | filter:state.searchString">
            <div class="row">
                <div class="col-sm-3">
                    <a ui-sref="deliverables.instances({ fy:fiscalYear, id:item.id })">{{ item.deliverableNumber }}</a>
                </div>
                <div class="col-sm-3">{{ item.title }}</div>
                <div class="col-sm-2">{{ item.frequency.lookupValue }}</div>
                <div class="col-sm-2"><a ui-sref="deliverables.instances({ fy:fiscalYear, id:item.id })"><span class="badge">{{ deliverableCountByDefinition[item.id] || 0 }}</span></a></div>

                <div class="col-sm-2"><a ui-sref="newInstance({ fy:fiscalYear, deliverableTypeId:item.id })"><i class="fa fa-plus"></i></a></div>
            </div>
        </div>

    </div>

    <!--<div class="alert alert-warning alert-panel ng-cloak" ng-if="!state.validChartData">no data found!-->
    <!--</div>-->
    <!--<div ng-if="validChartData">-->
    <!--<div ng-include="state.activeChartType.template"></div>-->
    <!--</div>-->

</div>

