<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            <label class="deliverables-header" for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title" ng-model="deliverableRecord.title" name="title" required/>
        </div>
    </div>
    <!---->
    <div class="col-xs-2">
        <div class="form-group" ng-form="fy">
            <label class="deliverables-header" for="fy">Fiscal Year</label>
            <input ng-class="{'has-error':fy.$invalid}" ng-maxlength="4" ng-required="true" id="fy" ng-minlength="4" class="form-control" ng-model="deliverableRecord.fy" name="fy"/>
        </div>
    </div>

    <div class="col-xs-2">
        <div class="form-group">
            <label class="deliverables-header" for="deliverableType">Type</label>
            <select ng-required="true" ng-model="deliverableRecord.deliverableType"
                    ng-options="{lookupId: deliverableType.id, lookupValue: deliverableType.title} as deliverableType.title for deliverableType
                                    in deliverableTypes track by deliverableType.lookupId || deliverableType.id"
                    class="form-control" id="deliverableType" name="deliverableType">
            </select>
        </div>
    </div>

    <div class="col-xs-2">
        <div class="form-group">
            <label class="deliverables-header" for="month">Month</label>
            <select ng-required="true" name="month" id="month" ng-model="deliverableRecord.month" class="form-control">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <div class="form-group">
            <label class="deliverables-header" for="startDate">Start Date</label>
            <input ng-required="true" placeholder="Start Date" name="startDate" id="startDate" ui-date class="form-control" ng-model="deliverableRecord.startDate"/>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label class="deliverables-header" for="submissionDate">Submission Date</label>
            <input ng-required="true"  placeholder="Submission Date" name="submissionDate" id="submissionDate" ui-date class="form-control" ng-model="deliverableRecord.submissionDate"
                   name="submissionDate"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="details" class="deliverables-header">Details</div>
            <textarea rows="4" placeholder="Details" class="form-control" ng-model="deliverableRecord.details"
                      name="details" id="details"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="justification" class="deliverables-header">Justification</label>
            <textarea rows="4" placeholder="Justification" class="form-control" ng-model="deliverableRecord.justification"
                      name="justification" id="justification"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="justification" class="deliverables-header">To</label>

            <div ng-if="state.dataReady">

                <ui-select ng-model="deliverableRecord.to" multiple>
                    <ui-select-match>{{$item.lookupValue }}</ui-select-match>
                    <ui-select-choices
                        repeat="{lookupId:person.ID,lookupValue:person.Name} as person in personnelArray | filter: $select.search track by person.lookupId || person.ID">
                        <div ng-bind-html="person.Name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>

            </div>
        </div>
    </div>
</div>
<!--<div class="row">-->
    <!--<div class="col-xs-12">-->
        <!--<div class="form-group">-->
            <!--<label for="justification" class="deliverables-header">CC</label>-->

            <!--<div ng-if="state.dataReady">-->
                <!--<ui-select ng-model="deliverableRecord.cc" multiple>-->
                    <!--<ui-select-match>{{$item.lookupValue }}</ui-select-match>-->
                    <!--<ui-select-choices-->
                        <!--repeat="person in personnelArray | filter: $select.search track by person.lookupId || person.id">-->
                        <!--<div ng-bind-html="person.lookupValue | highlight: $select.search"></div>-->
                    <!--</ui-select-choices>-->
                <!--</ui-select>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
