<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <div class="row deliverables-paged">
                <div class="col-sm-9"><i class="fa fa-check-square icon-padding"></i>DELIVERABLES</div>
                <div class="col-sm-3">
                    <select ng-model="state.selectedDeliverable" ng-change="getUpdateState()" class="form-control"
                            data-ng-options="deliverableDefinition as deliverableDefinition.title for deliverableDefinition in deliverableDefinitions | orderBy: 'title' track by deliverableDefinition.id">
                    </select>
                </div>
            </div>
            <hr/>
            <!-- Animate once we have data -->
            <div ng-if="gotData">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Submitted</th>
                        <th>Due</th>
                        <th>Schedule</th>
                        <th>Average Rating</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in deliverableInstances track by item.id">
                        <td><a ui-sref="deliverable({id:item.id})">{{ item.title }}</a>
                        </td>
                        <td>{{ item.submissionDate | date:'shortDate' }}</td>
                        <td>{{ item.startDate | date:'shortDate' }}</td>
                        <td>{{ frequency }}</td>
                        <td>
                            <a ng-click="getDeliverableFeedback( item.id )" class="rating-data" title="View Details">
                                <feedback-average data-deliverable="item"></feedback-average>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr/>
            <hr/>
        </div>
        <!-- view toggles between metrics and feedback -->
        <div ng-include="rightPanelView"></div>
    </div>
</div>

