
<div class="container-fluid">
    <div class="row deliverables-paged">
        <div class="col-sm-8"><i class="fa fa-check-square icon-padding"></i>DELIVERABLE TYPES</div>
        <div class="col-sm-4">
            <input type="text" ng-model="state.searchString" placeholder=" Enter Search Term"><i class="fa fa-search search-padding"></i>
        </div>
    </div>
    <hr/>
    <!-- Animate once we have data -->
    <div ng-if="state.validChartData">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Reference Number</th>
                <th>Title</th>
                <th>Schedule</th>
                <th>Count</th>
                <th>New</th>
            </tr>
            </thead>
            <tbody>
            <tr class="deliverables-data fadeIn" ng-repeat="item in deliverableDefinitions | filter:state.searchString">
                <td>
                    <a ui-sref="deliverables.instances({ fy:fiscalYear, id:item.id })">{{ item.deliverableNumber }}</a>
                </td>
                <td>{{ item.title }}</td>
                <td>{{ item.frequency.lookupValue }}</td>
                <td>
                    <a ui-sref="deliverables.instances({ fy:fiscalYear, id:item.id })"><span class="badge">{{ deliverableCountByDefinition[item.id] || 0 }}</span></a>
                </td>
                <td>
                    <a ui-sref="newInstance({ fy:fiscalYear, deliverableTypeId:item.id })"><i class="fa fa-plus"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--<div class="alert alert-warning alert-panel ng-cloak" ng-if="!state.validChartData">no data found!-->
    <!--</div>-->
    <!--<div ng-if="validChartData">-->
    <!--<div ng-include="state.activeChartType.template"></div>-->
    <!--</div>-->

</div>

