
<div class="row">
    <div class="col-sm-6">
        <div class="form-group" ng-class="{ 'has-error': editDeliverable.title.$invalid }">
            <label class="deliverables-header" for="title">Title*</label>
            <input type="text" class="form-control" placeholder="Enter a Title" ng-model="deliverableRecord.title" name="title" ng-minlength="1" ng-maxlength="500" required/>
            <div ng-messages="editDeliverable.title.$error" class="has-error" style="color:maroon">
                <div ng-message="required">You did not enter a Title</div>
            </div>
        </div>
    </div>
    <!-- ng messages

    <pre>editDeliverable.title.$error = {{ editDeliverable.title.$error | json }}</pre>
    -->


    <div class="col-sm-2">
        <div class="form-group" ng-class="{ 'has-error': editDeliverable.fy.$invalid }">
            <label class="deliverables-header" for="fy">Fiscal Year*</label>
            <input type="text" ng-maxlength="4" ng-required="true" ng-minlength="4" class="form-control" ng-model="deliverableRecord.fy" name="fy"/>
            <div ng-messages="editDeliverable.fy.$error" class="has-error" style="color:maroon">
                <div ng-message="required">You did not enter a Fiscal Year</div>
                <div ng-message="minlength">Your Fiscal Year is too short</div>
                <div ng-message="maxlength">Your Fiscal Year is too long</div>
            </div>
        </div>
    </div>



    <div class="col-sm-2">
        <div class="form-group">
            <label class="deliverables-header" for="deliverableType">Deliverable Type*</label>
            <select placeholder="Select Type" ng-required="true" ng-model="deliverableRecord.deliverableType"
                    ng-options="{lookupId: deliverableType.id, lookupValue: deliverableType.title} as deliverableType.title for deliverableType
                                    in deliverableTypes track by deliverableType.lookupId || deliverableType.id"
                    class="form-control" name="deliverableType">
                <option value=''>Select Deliverable Type</option>
            </select>
        </div>
    </div>

    <div class="col-sm-2">
        <div class="form-group">
            <label class="deliverables-header" for="month">Month*</label>
            <select ng-required="true" name="month" ng-model="deliverableRecord.month" class="form-control">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <div class="form-group" ng-class="{ 'has-error': editDeliverable.startDate.$invalid }">
            <label class="deliverables-header" for="startDate">Start Date*</label>
            <input ng-required="true" placeholder="Enter a Start Date" name="startDate" ui-date class="form-control" ng-model="deliverableRecord.startDate"/>
            <div ng-messages="editDeliverable.startDate.$error" class="has-error" style="color:maroon">
                <div ng-message="required">You did not enter a Start Date</div>
            </div>
        </div>
    </div>


    <div class="col-sm-2">
        <div class="form-group" ng-class="{ 'has-error': editDeliverable.submissionDate.$invalid }">
            <label class="deliverables-header" for="submissionDate">Submission Date*</label>
            <input ng-required="true"  placeholder="Enter a Submission Date" name="submissionDate" ui-date class="form-control" ng-model="deliverableRecord.submissionDate"
                   name="submissionDate"/>
            <div ng-messages="editDeliverable.submissionDate.$error" class="has-error" style="color:maroon">
                <div ng-message="required">You did not enter a Submission Date</div>
            </div>

        </div>
    </div>


</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="details" class="deliverables-header">Details</div>
            <textarea rows="4" placeholder="Enter Details" class="form-control" ng-model="deliverableRecord.details"
                      name="details"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="justification" class="deliverables-header">Justification</label>
            <textarea rows="4" placeholder="Enter a Justification" class="form-control" ng-model="deliverableRecord.justification"
                      name="justification"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="to" class="deliverables-header">To</label>
            <div ng-if="state.dataReady">
                <ui-select ng-model="deliverableRecord.to" multiple>
                    <ui-select-match placeholder="Select TO Recipient">{{$item.lookupValue }}</ui-select-match>
                    <ui-select-choices
                        repeat="person in personnelArray | filter: $select.search track by person.lookupId">
                        <div ng-bind-html="person.lookupValue | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="cc" class="deliverables-header">CC</label>
            <div ng-if="state.dataReady">
                <ui-select ng-model="deliverableRecord.cc" multiple>
                    <ui-select-match placeholder="Select CC Recipient">{{$item.lookupValue }}</ui-select-match>
                    <ui-select-choices
                        repeat="person in personnelArray | filter: $select.search track by person.lookupId">
                        <div ng-bind-html="person.lookupValue | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
</div>
