<!-- home page view -->
<div ng-include="'modules/sub_navbar/subNavbarView.html'"></div> 
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">

            <h4><i class="fa fa-folder-o fa-lg"></i> SUBMITTED DELIVERABLES</h4>
            <!-- SUBMITTED DELIVERABLES FOR THE MONTH (USE THE SAME TEMPLATE AS DELIVERABLE INSTANCES-->
            <div class="panel-table-include" ng-include="'common/templates/deliverablesTableTemplate.html'"></div>

            <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading"><i class="fa fa-folder-o fa-lg"></i> SUBMITTED DELIVERABLES</div>-->


            <!--</div>-->
            <br/>

            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-lg fa-folder-open-o"></i> PENDING DELIVERABLES</div>

                <!-- PENDING DELIVERABLES FOR THE MONTH -->
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Reference Number</th>
                        <th>Title</th>
                        <th>Schedule</th>
                        <th>Add</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="definition in vm.outstandingDefinitions | filter:vm.searchString | orderBy:'deliverableNumber' track by definition.id">
                        <td>
                            <a ui-sref="deliverables.instances({fy:vm.fiscalYear, id:definition.id})">
                                {{ definition.deliverableNumber }}
                            </a>
                        </td>
                        <td>{{ definition.title }}</td>
                        <td>{{ definition.frequencyDescription }}</td>
                        <td>
                            <a ui-sref="newInstance({ fy:vm.fiscalYear, mo: vm.fiscalMonth, deliverableTypeId:definition.id })" title="Add a new {{definition.title}} deliverable.">
                                <i class="fa fa-plus"></i>
                            </a>
                        </td>
                    </tr>


                    <!-- NO DEFINITIONS FOUND FOR THE YEAR -->
                    <tr ng-if="vm.deliverableDefinitionsByMonth && vm.deliverableDefinitionsByMonth.length < 1">
                        <td colspan="5" class="alert">There are no outstanding deliverables remaining.</td>
                    </tr>

                    <!-- LOADING MESSAGE -->
                    <tr ng-if="!vm.gotData">
                        <td colspan="4" class="alert alert-info"><i class="fa fa-spinner fa-spin"></i> Loading deliverable information...</td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>

        <!-- METRICS -->
        <!--<div class="col-md-2 col-sm-3 hidden-xs" ng-include="'common/templates/deliverableMetricsTemplate.html'"></div>-->

    </div>
</div>

